[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/readerwriterqueue"]
	path = thirdparty/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
